@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 153 64% 14%;
    --card: 0 0% 100%;
    --card-foreground: 153 64% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 153 64% 14%;
    --primary: 153 64% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 153 55% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 80 20% 95%;
    --muted-foreground: 153 30% 30%;
    --accent: 48 98% 53%;
    --accent-foreground: 153 64% 14%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 15% 85%;
    --input: 80 15% 85%;
    --ring: 153 64% 14%;
    --chart-1: 153 64% 14%;
    --chart-2: 48 98% 53%;
    --chart-3: 145 55% 26%;
    --chart-4: 153 80% 17%;
    --chart-5: 48 98% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
